<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()

@end
</string>
		<key>HLYImageCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>HLYImageCache.h</string>
		</dict>
		<key>HLYImageCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>HLYImageCache.m</string>
		</dict>
		<key>NSDate+Display.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSDate+Display.h</string>
		</dict>
		<key>NSDate+Display.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSDate+Display.m</string>
		</dict>
		<key>NSString+Encrypt.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSString+Encrypt.m</string>
		</dict>
		<key>NSString+Encrypt.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSString+Encrypt.m</string>
		</dict>
		<key>NSTimer+Addition.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSTimer+Addition.h</string>
		</dict>
		<key>NSTimer+Addition.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>NSTimer+Addition.m</string>
		</dict>
		<key>UIDevice-Hardware.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIDevice-Hardware.h</string>
		</dict>
		<key>UIDevice-Hardware.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIDevice-Hardware.m</string>
		</dict>
		<key>UIImage+Convenience.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImage+Convenience.h</string>
		</dict>
		<key>UIImage+Convenience.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImage+Convenience.m</string>
		</dict>
		<key>UIImage+ScaleImage.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImage+ScaleImage.h</string>
		</dict>
		<key>UIImage+ScaleImage.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImage+ScaleImage.m</string>
		</dict>
		<key>UIImageView+Network.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImageView+Network.h</string>
		</dict>
		<key>UIImageView+Network.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIImageView+Network.m</string>
		</dict>
		<key>UITableViewCell+Null.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UITableViewCell+Null.h</string>
		</dict>
		<key>UITableViewCell+Null.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UITableViewCell+Null.m</string>
		</dict>
		<key>UIView+Frame.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIView+Frame.h</string>
		</dict>
		<key>UIView+Frame.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>UIView+Frame.m</string>
		</dict>
		<key>HLYViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>HLYViewController.h</string>
		</dict>
		<key>HLYViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>HLYViewController.m</string>
		</dict>
		<key>HLYShareViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>HLYShareViewController.h</string>
		</dict>
		<key>HLYShareViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>ViewControllers</string>
			</array>
			<key>Path</key>
			<string>HLYShareViewController.m</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Localizable.strings</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.bantu.dt.unit.TQApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:didReceiveMemoryWarning</string>
		<string>../Podfile</string>
		<string>Localizable.strings</string>
		<string>HLYImageCache.h</string>
		<string>HLYImageCache.m</string>
		<string>NSDate+Display.h</string>
		<string>NSDate+Display.m</string>
		<string>NSString+Encrypt.h</string>
		<string>NSString+Encrypt.m</string>
		<string>NSTimer+Addition.h</string>
		<string>NSTimer+Addition.m</string>
		<string>UIDevice-Hardware.h</string>
		<string>UIDevice-Hardware.m</string>
		<string>UIImage+Convenience.h</string>
		<string>UIImage+Convenience.m</string>
		<string>UIImage+ScaleImage.h</string>
		<string>UIImage+ScaleImage.m</string>
		<string>UIImageView+Network.h</string>
		<string>UIImageView+Network.m</string>
		<string>UITableViewCell+Null.h</string>
		<string>UITableViewCell+Null.m</string>
		<string>UIView+Frame.h</string>
		<string>UIView+Frame.m</string>
		<string>HLYViewController.h</string>
		<string>HLYViewController.m</string>
		<string>HLYShareViewController.h</string>
		<string>HLYShareViewController.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main_iPad.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
						<key>Base.lproj/Main_iPhone.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
</dict>
</plist>
